.form-group {
  max-width: 400px;
}

.mdb-select {
  border-radius: 5px;
  padding: 10px;
}

.center {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
