<div class="col-9 w-100 main">
  <div class="card">
    <div class="card-body">
      <h2 style="margin-left: 45px;">Informe os seus dados</h2>
      <!-- Link para abrir o PDF -->
  <a href="/docs/meuDocumento.pdf" target="_blank" class="btn btn-link" style="margin-left: 98px;">Relação de Documento</a>

      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
          <div class="col">
            <mdb-form-control>
              <input mdbInput type="text" formControlName="name_visited" class="form-control" />
              <label mdbLabel class="form-label" for="form6Example1">Nome do visitado</label>
            </mdb-form-control>
          </div>
          <div class="col">
            <mdb-form-control>
              <input mdbInput type="text" formControlName="cpf_rne" class="form-control"
                [mask]="documentType === 'RNE' ? '99.999.999.999' : '00.000.000-0'" />
              <label mdbLabel class="form-label" for="form6Example2">RG/RNE do visitado</label>
            </mdb-form-control>
          </div>
        </div>

        <mdb-form-control class="form-outline mb-4">
          <input mask="(00) 0 0000 0000" mdbInput type="text" formControlName="cellphone" class="form-control" />
          <label mdbLabel class="form-label" for="form6Example6">Telefone</label>
        </mdb-form-control>
        <mdb-form-control class="mb-4">
          <label for="ufSelect" class="form-label">Tipo de visitação</label>
          <select id="ufSelect" class="form-select mdb-select" formControlName="type_visitation"
             required>
            <option value="" disabled selected>Escolha um tipo de  visitação <option>
            <option *ngFor="let c of typeVisit" [value]="c.label">{{ c.value }}</option>
          </select>
        </mdb-form-control>

        <mdb-form-control class="mb-4">
          <label for="ufSelect" class="form-label">Selecione um Estado</label>
          <select id="ufSelect" class="form-select mdb-select" formControlName="state"
            (ngModelChange)="listAllCities($event)" required>
            <option value="" disabled selected>Escolha um Estado</option>
            <option *ngFor="let c of UF" [value]="c.sigla">{{ c.sigla }}</option>
          </select>
        </mdb-form-control>

        <mdb-form-control class="mb-4">
          <label for="citySelect" class="form-label">Selecione a Cidade</label>
          <select id="citySelect" class="form-select mdb-select" formControlName="city" required>
            <option value="" disabled selected>Escolha uma Cidade</option>
            <option *ngFor="let c of cities" [value]="c.nome">{{ c.nome }}</option>
          </select>
        </mdb-form-control>

        <mdb-form-control class="mb-4">
          <input mdbInput type="text" formControlName="district" class="form-control" />
          <label mdbLabel class="form-label" for="form6Example4">Bairro</label>
        </mdb-form-control>

        <mdb-form-control class="mb-4">
          <input mdbInput type="text" formControlName="street" class="form-control" />
          <label mdbLabel class="form-label" for="form6Example4">Rua</label>
        </mdb-form-control>

        <mdb-form-control class="mb-4">
          <input mdbInput type="text" formControlName="number_house" class="form-control" />
          <label mdbLabel class="form-label" for="form6Example4">Número</label>
        </mdb-form-control>

        <button mdbRipple type="submit" class="btn btn-primary btn-block mb-4" style="background-color: rgb(134, 181, 86);">
          Enviar documento
        </button>
      </form>
    </div>
  </div>
</div>
