<div class="container">
    <div class="d-flex justify-content-center mt-5 home-page">
      <h1>O Departamento Penitenciário Nacional (DEPEN) possui vários contatos, incluindo:</h1>
    </div>
    <div class="d-flex mt-5 flex-row">
      <div class="d-flex flex-column">
        <a class="subtitulo">• Monitoração Eletrônica: O número 0800-643-5513 está disponível 24 horas por dia, todos os dias.</a>
        <a class="subtitulo mt-2">• Fundo Penitenciário do Paraná (FUPEN): O número para solicitar acesso é (41) 3294-2957.</a>
        <a class="subtitulo mt-2">• Corregedoria-geral: O endereço é Rua Euzébio da Motta nº. 407, Bairro Alto da Glória, Curitiba/PR, e o horário de funcionamento é de segunda a sexta-feira, das 08h00 às 12h00 e das 13h00 às 17h00.</a>
        <a class="subtitulo mt-2">• SISDEPEN: A plataforma de informações penitenciárias está disponível aos usuários credenciados no endereço sisdepen.mj.gov.br.</a>
        <a class="titulo mt-5">O DEPEN-PR também possui contatos para algumas unidades penais, como: </a>
        <a class="subtitulo mt-2">• Penitenciária Estadual de Maringá (PEM): (44) 3293-9200</a>
        <a class="subtitulo mt-2">• Casa de Custódia de Maringá (CCM): (44) 3293-9100</a>
        <a class="subtitulo mt-2">• Colônia Penal Industrial de Maringá (CPIM): (44) 3220-9400</a>
        <a class="subtitulo mt-2">• Penitenciária Estadual de Piraquara II (PEP II): (41) 3589-8000</a>
        <a class="subtitulo mt-2">• Penitenciária Feminina do Paraná (PFP): (41) 3590-1350</a>
        <a class="subtitulo mt-2">• Cadeia Pública de Curitiba: (41) 3316-1800</a>
        <a class="subtitulo mt-2">• Cadeia Publica de Campo Largo (CAMP): (41) 3555-3226</a>
    </div>
      <div>
        <img src="/img/contatos.webp" class="imagem" alt="Home-Image"/>
      </div>
  
    </div>
  </div>
  