<div class="container">
    <div class="row mtop">
      <div id="custom-search-input" class="col-md-12">
        <div class="input-group">
          <input 
            type="text" 
            class="search-query form-control" 
            placeholder="Buscar requerimento, nome, protocolo ou data." 
            (input)="onSearchChange($event)"  
          />
          <button class="btn fundoazul" style="background-color: rgb(134, 181, 86);" type="button">
            <img class="btnSearch" src="/img/btnSearch.png" />
          </button>
        </div>
      </div>
    </div>
  </div>
  