h1{
    margin-top: 20px;
    color: #000000;
    font-size: 45px;
    font-weight: 240;
}

.imagem {
    width: 729px;
    height: 420px;
}


.titulo{
    font-weight: bold;
    font-size: 40px;
    color: black;
    font-weight: 100;
}

.subtitulo{
    color: #696666;
    width: 450px;
}

.botao{
    width: 192px;
    height: 40px;
    margin-top: 50px;
    text-align: center;
}

.home-page {
    margin-top: 50px;
}